/* Generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-image: url("./assets/fondo.png");
  background-size: 100%;
  margin-left: 2%;
  
}

/* Introducción (foto + información personal) */
.header {
  width: 100%;
  display: flex;
}

.my-photo {
  width: 25%;
  margin-bottom: 1%;
}

.my-photo img {
  width: 70%;
  margin: 20% 0% 8% 15%;

}

.header-content {
  width: 60%;
  margin: 0px;
}

.info-personal {
  margin-bottom: 0px;
}

.detalle-personal {
  margin-top: 0px;
}

.click1 {
  margin-bottom: 0%;
}

.click2 {
  margin-top: 0%;
  margin-left: 1%;
}

.section-header {
  cursor: pointer;
}

/* Contenido */

section {
  margin: 10px;
}

button {
  background-color: rgb(255, 236, 65);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1.5%;
    padding: 9px 13px 6px 13px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
  background-color: rgba(253, 0, 0, 0.589);
  color: rgb(255, 255, 255);
}


.experience,
.studies,
.lenguages {
  display: none;
  margin-right: 10%;
}

.active {
  display: block;
  background-color:#e4e01880;
  padding: 10px;
  color: black;
  width: 30%;
  margin: 1%;
}

.section-studies,
.section-lenguages {
  margin-left: 0%;

}

ul li {
  list-style-type: none;
  margin-bottom: 3%;
}

#fnac, #gm, #sjo, #edt {
  width: 30%;
}

.logo {
  width: 50%;
  margin-top: 2%;
}

.item {
  margin: 2%;
}

.cuando {
  margin-top: 0%;
  margin-bottom: 5%;

}

.titulo {
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 20px;
}

table {
  width: 80%;
  align-content: center;
  text-align: center;
  margin: 1% 5% 1% 7%;
  color: white;
}

th, td {
  width: 50%;
  padding: 1%;
}

th {
  background-color: rgb(50, 50, 200);
  font-size: 20px;
}

td {
  background-color: rgb(12, 12, 116);
}

/* Footer */

.titulo-rrss {
  margin-top: 5%;
  margin-left: 0%;
}

#descarga {
  width: 5%;
  padding-bottom: 0%;
}

.rrss {
  width: 8%;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-top: 1%;
  padding-bottom: 2%;
}

footer { 
  margin-bottom: 5px;
}


